<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サーバーレスCRUD</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>
  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ title }}</h1>
          <p>Update, Deleteする前にブラウザリロード推奨</p>
          <button class="btn btn-primary my-2" @click="showModal">Add</button>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <!-- <th>ID</th> -->
                <th>Body</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="todo in todos">
                <!-- <td>{{ todo.id }}</td> -->
                <td>{{ todo.body }}</td>
                <td><button class="btn btn-primary" @click="editPerson(todo)">Update</button></td>
                <td><button class="btn btn-danger" @click="deletePerson(todo)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- モーダルウィンドウ用 -->
    <modal name="todo-modal">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h2 v-if="createFlag">Add Todos</h2>
            <h2 v-else>Update Todos</h2>
          </div>
          <div class="card-text">
            <div class="form-group">
              <!-- <label for="id">ID</label> -->
              <input type="text" class="form-control" id="id" placeholder="IDを入力してください" v-model="form.id" hidden>
            </div>
            <div class="form-group">
              <label for="body">body</label>
              <input type="text" class="form-control" id="body" placeholder="bodyを入力してください" v-model="form.body">
            </div>
            <button class="btn btn-primary" @click="registerPerson" v-if="createFlag">登録</button>
            <button class="btn btn-primary" @click="updatePerson" v-else>更新</button>
            <button class="btn btn-secondary" @click="cancel">キャンセル</button>
          </div>
        </div>
      </div>
    </modal>
  </div>
  <!-- Vue.jsファイルを読み込み -->
  <script src="./js/index.js"></script>
</body>

</html>